//media queries
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (max-width: 992px) {
            @content;
        }
    }
    @else if $size == tablet-mini {
        @media screen and (max-width: 822px) {
            @content;
        }
    }
    @else if $size == mobile {
        @media screen and (max-width: 576px) {
            @content;
        }
    }
    @else if $size == mobile-mini {
        @media screen and (max-width: 320px) {
            @content;
        }
    }
}
//colors
$color-pry-1: hsl(243, 87%, 12%);
$color-pry-2: hsl(238, 22%, 44%);
$color-accent-1: hsl(224, 93%, 58%);
$color-accent-2: hsl(170, 45%, 43%);
$color-neutral-1: hsla(240, 80%, 98%, 0.801);
$color-neutral-2: hsl(0, 0%, 75%);
$color-bg: white;

//fonts
$font-heading: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-bold: 700;
$font-light: 400;

//base
html {
    box-sizing: border-box;
}
body {
    background-color:$color-bg;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0px auto;
    font-family: $font-light;
    font-weight: $font-light;
}

//typography
h1 {
    font-family: $font-heading;
    font-weight: $font-bold;
    color: $color-pry-1;
    font-size: 2.5rem; 
    line-height: 3.2rem;

    @include media-query(tablet) {
        font-size: 2.3rem; 
        line-height: 3rem;
    } 
    @include media-query(mobile) {
        font-size: 1.5rem; 
        line-height: 2rem;
    } 
}
h2 {
    font-family: $font-heading;
    font-weight: $font-bold;
    color: $color-pry-1;
    font-size: 2.1rem; 
    line-height: 3rem;

    @include media-query(tablet) {
        font-size: 1.7rem; 
        line-height: 2rem;
    } 
    @include media-query(mobile) {
        font-size: 1.1rem; 
        line-height: 2rem;
    } 
}
p {
    font-family: $font-body;
    font-weight: $font-light;
    color: $color-pry-1;
    font-size: 1.1rem; 
    line-height: 1.5rem; 

    @include media-query(tablet) {
        font-size: 1rem; 
        line-height: 1.4rem; 
    }
    @include media-query(mobile) {
        font-size: 0.85rem; 
        line-height: 1.4rem; 
    }
}
a {
    text-decoration: none;
    font-family: $font-body;
    font-weight: $font-light;
    color: $color-pry-2;
    font-size: 0.9rem;
    @include media-query(mobile) {
        font-size: 0.85rem;
    }
}
li {
    list-style: none;
}

//header
header {
    background-color: $color-bg;
    max-width: 100%;
    height: 70px;
    margin: 0px auto;
}
.header__container {
    max-width: 90%;
    height: 70px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    @include media-query(mobile) {
        width: 95%;
    }
}
.logo {
    flex: 1;
    img {
        width: 130px;
        @include media-query(mobile) {
            width: 100px;
        }
        @include media-query(mobile-mini) {
            width: 85px;
        }
    }
}
nav {
    flex: 4;
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li {
        margin-left: 50px;
        @include media-query(tablet) {
            margin-left: 30px;
        }
        @include media-query(mobile) {
            margin-left: 10px;
        }
    }
}

//Hero Section
.hero__container {
    background-color: $color-bg;
    max-width: 100%;
    min-height: 0px;
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    padding-bottom: 150px;

    @include media-query(mobile) {
        background-image: url(images/bg-curve-mobile.svg);
        // background-repeat: no-repeat;
        // background-position-y: bottom;
        // background-size: contain;
        padding-bottom: 100px;
    }
}
.hero {
    // background-color: rgb(204, 44, 71);
    max-width: 1240px;
    min-height: 600px;  
    margin: 0px auto;
    display: flex;
    align-items: center;

    @include media-query (tablet-mini) {
        flex-wrap: wrap;
        padding: 100px 40px; 
        text-align: center;
    }

    @include media-query(mobile) {
        padding: 10px 10px; 
        flex-direction: column-reverse;
    } 

    &__heading-sign-up {
        flex: 1; 
        // background-color: yellow;
        padding: 20px;
        
        p {
            margin-top: 0px;
        }

        @include media-query (tablet-mini) {
            flex: 1 500px;
        }
        @include media-query (mobile) {
            flex: 1  300px;
            margin-top: -50px;
        }
        @include media-query (mobile-mini) {
            margin-top: -60px;
        }
    }
    &__image {
        padding: 10px;
        // background-color: red;
        flex: 1;
        img {
            width: 100%;
            height: auto;
        }
        @include media-query (tablet-mini) {
            flex: 1  500px;
            img {
                width: 80%;
            }
        }
        @include media-query (mobile) {
            margin-top: 50px;
            flex: 1  300px;
            img {
                width: 100%;
            }
        }
    }
}

.form {
    padding-top: 15px;
    @include media-query(mobile) {
        display: block;
    }
    &__email {
        height: 40px;
        width: 60%;
        padding: 0px 10px;
        font-family: $font-body;
        color: $color-pry-2;
        font-weight: $font-light;
        border-radius: 4px;
        border: 1px solid $color-pry-2;

        @include media-query(mobile) {
            width: 100%;
            box-sizing: border-box;
  
        }
    }
    &__button {
        height: 43px;
        width: 30%;
        margin-left: 10px;
        background-color: $color-accent-1;
        color: $color-bg;
        font-weight: $font-bold;
        border: none;
        border-radius: 4px;

        @include media-query(mobile) {
            width: 100%;
            margin-left: 0px;
            margin-top: 10px;
        }

        &:hover {
            background-color: saturate($color: $color-accent-1, $amount: 50%);
        }
    }
}

.productive__container {
    background-color: $color-neutral-1;
    max-width: 100%;
    min-height: 0px;
    padding-bottom: 100px;

    @include media-query(mobile) {
        padding-bottom: 50px;
    }
}
.productive {
        max-width: 1240px;
        min-height: 600px;  
        margin: 0px auto;
        display: flex;
        align-items: center;

        @include media-query(tablet) {
            flex-wrap: wrap;
        }
        @include media-query(mobile) {
            flex-direction: column-reverse;
        }

        &__text {
            flex: 1 411px;
            padding: 20px;

            @include media-query(mobile) {
                margin-top: -100px;
                h2 {
                    text-align: center;
                }
    
                flex: 1 400px;
            }
        }
        &__image {
            flex: 1 411px;
            padding: 10px;
            text-align: center;

            @include media-query(mobile) {
                padding: 50px 10px;
                flex: 1 400px;
            }

            img {
                width: 100%;
                height: auto;

                @include media-query(tablet) {
                    width: 90%;
                }
                @include media-query(tablet-mini) {
                    width: 70%;
                }
                @include media-query(mobile) {
                    width: 100%;
                }
            }
        }
        &__link {
            
            a {
                border-bottom: 2px solid black;
                padding-bottom: 5px;
            }

            @include media-query(mobile) {
               text-align: center;
            }
        }
        &__arrow {
            padding-top: -50px;
        }

        &__testimonial {
            padding: 20px;
            max-width: 300px;
            min-height: 0px;
            box-shadow: 0px 0px 10px rgb(228, 228, 228);
            margin-top: 40px;
            border-radius: 3px;
            background-color: $color-bg;

            p {
                font-size: 0.9rem;
                font-weight: $font-light;
            }

            @include media-query(mobile) {
                padding: 20px;
                max-width: 250px;
                margin: 50px auto;

                p {
                    font-size: 0.75rem;
                    font-weight: $font-light;
                }
            }
        }
}
.user {
    display: flex;
    align-items: center;

    &__image {
        
        img {
            width: 40px;
            border-radius: 50px;

            @include media-query(mobile) {
                width: 25px;
            }
        }
    }

    &__bio {
        display: block;
        padding-left: 10px;

        p:first-of-type {
            font-size: 0.8rem;
            font-weight: $font-bold;
            line-height: 1rem;
            margin-bottom: -9px;

            @include media-query(mobile) {
                font-size: 0.65rem;
                line-height: 1.4rem;
                margin-top: -5px;
            }
        }
        p {
            font-size: 0.65rem;
            line-height: 1rem;

            @include media-query(mobile) {
                font-size: 0.65rem;
                line-height: 0rem;
            }
        }



    }
}

.quotes {
    margin-bottom: -10px;
}


.subscription__container {
    max-width: 100%;
    padding: 30px 0px ;
    background-color: $color-pry-2;
}
.subscription {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    min-height: 300px;  
    margin: 0px auto;
    align-items: center;

    @include media-query(mobile) {
        margin: 0px 10px;
    }
    

    &__heading {
        flex: 1 410px;
        padding: 20px 210px 20px 20px;
        box-sizing: border-box;

        @include media-query(tablet) {
            padding-right: 20px;
        }
        @include media-query(mobile) {
            text-align: center;
        }

        h2, p {
            color: $color-bg;
        }
    }
    &__form {
        flex: 1 410px;
        padding: 20px;
    }
}

.sub__form {
    display: block;

    @include media-query(tablet-mini) {
        margin-top: -25px;
        width: 80%;

    }

    @include media-query(mobile) {
        margin: -25px auto 20px auto;
        width: 90%;
    }
}
.form__email {
    width: 100%;
    box-sizing: border-box;


}
.form__button {
    width: 40%;
    margin-top: 10px;
    margin-left: 0px;

    @include media-query(mobile) {
        width: 100%;
    }
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}